APP_NAME="Halaalbuy"
APP_ENV=production
APP_KEY=base64:WrvqXJ+ilWOLItqI7C2N2R2dQkqFAHFYzTrQBBJqtso=
APP_DEBUG=false
APP_URL="https://halaalbuy.com.ng"
APP_TIMEZONE="Africa/Lagos"

DEMO_MODE="Off"

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="halaalbu_shop"
DB_USERNAME="halaalbu_naqeeb"
DB_PASSWORD="naqeeb4ME&YOU"

BROADCAST_DRIVER=log
CACHE_DRIVER="file"
QUEUE_CONNECTION=sync
SESSION_DRIVER="file"
SESSION_LIFETIME=120

REDIS_HOST="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT="6379"

MAIL_DRIVER="smtp"
MAIL_HOST="mail.halaalbuy.com.ng"
MAIL_PORT="465"
MAIL_USERNAME="info@halaalbuy.com.ng"
MAIL_PASSWORD="halaal4ME&YOU"
MAIL_ENCRYPTION="ssl"
MAIL_FROM_ADDRESS="info@halaalbuy.com.ng"
MAIL_FROM_NAME="HalaalBuy"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""

STRIPE_KEY="pk_test_51HUWfSGRvmmDdlLV4SicdCgwHvugSZJIWnq3JAVRdJFwzkNS94SafaOSsg9qgUdQkO0yyWARKyWSXOjjBXFrvwDD00kYOLnaBQ"
STRIPE_SECRET="sk_test_51HUWfSGRvmmDdlLV87aRqJ8CVka2HtjB1SQvBzfbWzr7F9KaK5txg23eASkhitYJVz0IgovdnOOi7t6ab3xqGB4D00oAGvGCxq"

SSLCZ_STORE_ID="123456"
SSLCZ_STORE_PASSWD="balooooo"

IM_API_KEY=""
IM_AUTH_TOKEN=""

RAZOR_KEY=""
RAZOR_SECRET=""

PAYSTACK_PUBLIC_KEY="paste-your-key-here"
PAYSTACK_SECRET_KEY="paste-your-key-here"
MERCHANT_EMAIL="babusunnah@gmail.com"
PAYSTACK_CURRENCY_CODE="NGN"

VOGUE_MERCHANT_ID="DEMO"

GOOGLE_CLIENT_ID="671918892034-6glgetssvrol2eqsvat9sj1cij0k553f.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

FACEBOOK_CLIENT_ID="612310626781068"
FACEBOOK_CLIENT_SECRET="f375cb19d13a0d55b3838cf221bd3a49"

TRACKING_ID=""

FACEBOOK_PAGE_ID="104714175364807"
FACEBOOK_PIXEL_ID="612310626781068"

DEFAULT_LANGUAGE="en"

TWILIO_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_VERIFY_SID=""
VALID_TWILLO_NUMBER=""

NEXMO_KEY="8639bc12"
NEXMO_SECRET="uvjdVwTe0xjIi81r"

SSL_SMS_USER="Adyan"
SSL_SMS_SID=""
SSL_SMS_PASSWORD=""
SSL_SMS_URL="http://sms.sslwireless.com/pushapi/dynamic/server.php"

PAYTM_ENVIRONMENT=""
PAYTM_MERCHANT_ID=""
PAYTM_MERCHANT_KEY=""
PAYTM_MERCHANT_WEBSITE=""
PAYTM_CHANNEL=""
PAYTM_INDUSTRY_TYPE=""

SENDER_ID="FSTSMS"
LANGUAGE="english"
ROUTE="dlt_manual"
AUTH_KEY="1"
ENTITY_ID="123"

PAYHERE_MERCHANT_ID="1215091"
PAYHERE_SECRET="4kmtyso0vxZ8ggjJN5MyUm4p5k6Cmyswo4ZCcldBFIvs"
PAYHERE_CURRENCY="USD"

PAYFAST_MERCHANT_ID="10003008"
PAYFAST_MERCHANT_KEY="m0sfp3xkxzqlm"

NGENIUS_OUTLET_ID="765effa3-68d9-4a61-9273-b43261a0c223"
NGENIUS_API_KEY="OGQyYmY3YWQtYzFiMS00ODljLWEyZDQtZTM5ZWIyYTc4NTcxOjkxMjVkMzNmLWU5YjItNDFlNy05Y2JlLWUwNDEyMGViNDM1YQ=="
NGENIUS_CURRENCY="AED"

CAPTCHA_KEY="6Ld_nrsZAAAAAO-MowQQPfbD9yoio52GiMgUrmRX"
FORCE_HTTPS="On"

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_DEFAULT_REGION=""
AWS_BUCKET=""
AWS_URL="https://bucket-name.s3.region.amazonaws.com"

FILESYSTEM_DRIVER="local"


IYZICO_API_KEY="sandbox-1GcasNxaRSuHuxbK1aD67VSSpS2xPE9o"
IYZICO_SECRET_KEY="sandbox-j7X6sWA2B8qhN6wwyYGbxYYf5JCliceu"

PROXYPAY_TOKEN="im5lqr34fwt37vougnpe4nuizu6exzlf"
PROXYPAY_ENTITY="99923"

PROXYPAY_END_TIME="2"

AAMARPAY_STORE_ID="aamarpay"
AAMARPAY_SIGNATURE_KEY="28c78bb1f45112f5d40b956fe104645a"

RAVE_PUBLIC_KEY="FLWPUBK_TEST-19d06e526bfd9859a60b1f0423bbe8a4-X"
RAVE_SECRET_KEY="FLWSECK_TEST-3993f30a4da4e1743a8a599ab9e98cb0-X"
RAVE_TITLE="Balextek"
RAVE_ENVIRONMENT="live"
MERCHANT_EMAIL="babusunnah@gmail.com"
PAYSTACK_CURRENCY_CODE="NGN"

MAILGUN_DOMAIN=""
MAILGUN_SECRET=""
FACEBOOK_APP_ID="612310626781068"